/*css para template de site de envento*/
/*criada por Felipe Barros e Gustavo Marques (GitHub: GustavoM7)*/

body {
	background-image: url("imgs/malhaquadriculada.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(0,33,69);
	font-family: "Aldrich";	
	src:url("Aldrich-Regular.ttf") format("truetype");
	color: white;
	overflow-x: hidden;
}
		
a {
	color: rgb(235,132,47);
	text-decoration: none;
}

/*fonte externa*/		
@font-face {
	font-family: Aldrich;
	src: url('Aldrich-Regular.ttf') format("truetype");
}
		
/*atributos do menu miniatura*/
label[for="bt_menu"]{
	background-color: rgb(235, 132, 47);
	color: white;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
		
#bt_menu{
	display: none;
}
	
label[for="bt_menu"]{
	display: none;
}
	
/*atributos de responsividade*/
@media(max-width: 800px){
	label[for="bt_menu"]{
		display: block;
	}

	input#bt_menu:checked ~ nav#menu{
		margin-right: 12px;
		margin-top: 2px;
		position: relative;
		clear: both;
		visibility: visible;
	}
		
	input#bt_menu:checked ~ nav#menu ul li{
		box-shadow: 4px 2px rgba(0,0,0,.2);
		border: 1px solid rgba(0,0,0,.2);				
	}
		
	nav#menu{
		position: relative;
		margin-right: 12px;
		transition: all .8s;
		visibility: hidden;
	}
		
	nav#menu ul li{
		width: 100%;
		margin: 0px;
	}

	body section#corpo{
		margin: 4px;
		text-align: center;
	}
			
	body section#corpo div#fotos {
		margin: 20px 0px 20px 0px;
	}
			
	.logotexto {
		width: 200px;
		height: 200px;
	}
		
}

/*atributos da navbar do menu*/		
nav#menu {
	display: block;
}

nav#menu a {
	text-decoration: none;
	transition: 0.3s ease-in;
}
		
nav#menu ul {
	list-style: none;
	position: absolute;
	top: 0px;
	right: 10px;
	float: left:
	text-transform: uppercase;
}
	
nav#menu li {
	display: inline-block;
	color: black;
	background-color: white;
	text-align: center;
	padding: 10px;
	height: 60px;
	margin: 0px 10px 0px 0px;
	transition: background-color 0.8s;
}

nav#menu li:hover {
	color: rgb(235, 132, 47);		
}
		
/*Configurando botão de marcação local*/
nav#menu li#local {
	border-bottom: 6px rgb(235, 132, 47) solid;
}
		
/*Configurando botão diferenciado para programação*/
nav#menu li#program {
	background-color: rgb(0,33,69);
	color: white;
	position: relative;
}
		
nav#menu li#program:hover {
	background-color: black;
	color: rgb(235, 132, 47);
	animation: bounce 1s;
}

/*animação bouce*/		
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
		}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/*posicionando imagem/icone do evento*/	
div#Evento img {
	margin-left: 20px;
}

/*propriedades do cabeçalho*/		
header#cabecalho {
	display: block;
	height: 60px;
	color: rgb(17, 26, 23);
	background-color: white;
	margin: 0px 0px 0px 0px;
	box-shadow: 4px 2px rgba(0,0,0,.2);
}

/*propriedades do banner (espefico para cada página)*/		
hgroup#bannerhome {
	background: url("imgs/fotopaginaprogramacao.jpg") no-repeat fixed;
	background-size: cover;
}

hgroup#bannerlocal {
	background: url("imgs/auditorio.jpg") no-repeat fixed;
	background-size: cover;
}

hgroup#bannerkhnum {
	background: url("imgs/fotopaginakhnum.jpg") no-repeat fixed;
	background-size: cover;
}

hgroup#bannerprogramacao {
	background: url("imgs/fotopaginaprogramacao.jpg") no-repeat fixed;
	background-size: cover;
}

/*propriedades do banner*/		
.titulobanner {
	display: block;
	margin-top: 100px;
}

.banner {
	display: block;
	background-color: rgba(224, 236, 243,.5);
	padding: 50px;
	margin: 60px 0px 0px 0px;
	height: 400px;
	text-shadow: 2px 2px rgb(17, 26, 23);
	color: white;
	text-align: center;

}

/*propriedades do corpo de texto*/		
section#corpo {
	display: block;
	margin: 40px;
	padding: 20px;
	background-color: rgba(255,255,255,.2);
	text-align: justify;
}

/*propriedades da decoração temática da página*/		
div#decoracao1 {
	display: block;
	position: absolute;
	background: url("imgs/dec1.png") no-repeat fixed;
	background-size: auto;
	height: 400px;
	width: 250px;
}

/**/
.fotopag {
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

/*propriedades do rodapé*/	
footer {
	display: block;
	margin: 10px auto 0px auto;
	padding-top: 20px;
	background-color: white;
	color: black;
	font-size: 10pt;
	text-align: center;
	position: sticky;
}
        
footer aside#links img {
	padding: 6px;
	transition: 1s ease-in;
}
        
footer div#container div#col-sm aside#links img#face:hover {
	box-shadow: 4px 2px rgba(0,0,0,.2);		
	background-image: url("inconefbhover.png");
}

div#copy {
	display: block;
	font-size: 8pt;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	clear: both;
	background-color: black;
	color: white;
	padding-top: 10px;
	height: 40px;
	position: sticky;
}

/*configurações personalizadas do carrossel bootstrap*/		
.carousel-inner {
	text-shadow: 2px 2px rgb(17, 26, 23)
}

/*configurações personalizadas para animação tada do animate*/		
.tada {
	-webkit-animation-delay: 3s;
}
		
/* propriedades da animação de carregamento de página */		
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: -300px;
	width: 300px;
	height: 300px;
	background: #eb7a55;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-150%) rotate(45deg);
	transform: translateX(100%) translateY(-125%) rotate(45deg);
	pointer-events: none;
}

.pace.pace-active .pace-activity {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(315deg);
	transform: translateX(50%) translateY(-50%) rotate(315deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.pace .pace-activity::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-right-color: rgba(0, 0, 0, .2);
	border-left-color: rgba(0, 0, 0, .2);
	-webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
	animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top-color: rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .2);
	-webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
	animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}



/*Atributs exclusivos da página 'Programação'*/
.titulopalest {
	display: block;
	text-align: center;
	margin-top: 40px;
}
		
section#corpo li {
	list-style: none;
	padding: 10px;
	display: inline-block;
	text-align: center;
	width: 100%;
}
		
section#corpo h1 {
	text-align: center; 	
}
		
.horario {
	background-color: rgb(0,33,69);
	margin-top: 10px;
}
	
.titulo {
	background-color: black;
}
		
.info {
	background-color: rgba(255,255,255,.2);
	visibility: hidden;
}
		
section#corpo li#info1 {
	display: none;
}
		
section#corpo li#info2 {
	display: none;
}
		
section#corpo li#info3 {
	display: none;
}
		
section#corpo li#info4 {
	display: none;
}
	
section#corpo li#info5 {
	display: none;
}
	
section#corpo li#titulo1:hover ~ li#info1{
	display: block;
	visibility: visible;
}
	
section#corpo li#titulo2:hover ~ li#info2{
	display: block;
	visibility: visible;
}

section#corpo li#titulo3:hover ~ li#info3{
	display: block;
	visibility: visible;
}

section#corpo li#titulo4:hover ~ li#info4{
	display: block;
	visibility: visible;
}

section#corpo li#titulo5:hover ~ li#info5{
	display: block;
	visibility: visible;
}
		
.card {
background-color: rgba(255,255,255,.2);	
}

.card-text {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	transition: opacity 1s;
	box-sizing: border-box;
	margin-left: -20px; 
	padding: 30px;
}
	
.card-text:hover {
	opacity: 0.7;
}

/*animações do framework*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
